.betterbubbles {
    max-width: 240px;
    text-align: center;
}

.betterbubbles .flavor {
    font-weight: bold;
}

.betterbubbles .summary {
    line-height: 20px;
}

.betterbubbles .summary .roll {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}

.betterbubbles .summary .roll span {
    display: inline-block;
    width: 16px;
    height: 20px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.betterbubbles .roll {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.betterbubbles .roll.failure {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    color: red;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.betterbubbles .roll.success {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    color: lightgreen;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.betterbubbles .damage {
    display: inline-block;
    font-size: 12px;
    text-align: center;
}
